.logo-img {
    width: 200px; /* Adjust the width */
    height: auto; /* Maintain aspect ratio */
  }

#logo{
    background-color: white;
    display: flex;  /* Align items in a row */
    align-items:center;  /* Vertically center text */
    gap: 15px; 
    font-size: 40px;
  }

  p{
    font-weight: bold;
  }