#opening {
  display: flex;
  align-items: center; /* Align text and image vertically */
  justify-content: space-between; /* Ensures space between text and image */
  background-color: white;
  padding: 20px; /* Add some spacing */
}

/* Style for text section */
#opening_text {
  font-size: 90px; 
  font-weight: bold;
  max-width: 40%;
}

/* Style for image */
#opening_image {
  width: 65%; /* Take up more space */
  max-width: 800px; /* Prevent it from being too large on big screens */
  height: auto;
  border-radius: 20px;
  margin-left: auto;
}


#vid{
  margin-top: 40px;
  text-align: center;
}

p{
    font-weight: bold;
  }

  /* Hero Section */
  .para {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;

  }
  
  /* Content Tiles */
  .content-tiles {
    display: flex;
    height: 400px;
    gap: 5px;
    
  }
  
  .content-tiles .tile {
    flex: 1 1 calc(25% - 20px);
    background-color: #fff;
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px;
    transition: transform 0.3s;
    border-radius: 20px 20px 20px 20px;
 
  
 
  }
  
  #c1{
    background-image: url("../images/home/c1.1.jpg");
    background-size: cover; /* Ensures the image fills the tile */
    background-position: center;
    background-repeat: no-repeat;
    opacity: .75;
    
   

  }

  #c2{
    background-image: url("../images/home/c2.jpg");
    background-size: cover; /* Ensures the image fills the tile */
    background-position: center;
    background-repeat: no-repeat;
    opacity: .75;
    

  }

  #c3{
    background-image: url("../images/home/c3.webp");
    background-size: cover; /* Ensures the image fills the tile */
    background-position: center;
    background-repeat: no-repeat;
    opacity: .75;

  }
  
  #c4{
    background-image: url("../images/home/c4.webp");
    background-size: cover; /* Ensures the image fills the tile */
    background-position: center;
    background-repeat: no-repeat;
    opacity: .75;

  }

  .content-tiles .tile:hover {
    transform: scale(1.05);
  }

  .content{
    color: black;
    text-decoration: none;
    opacity: 1;
    
  }

  .btn-get-involved {
    display: block;
    width: 200px;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #6A9C89; /* Green color */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 20px auto; /* Center the button */
}

.btn-get-involved:hover {
    background-color: #FFA725 ;
    transform: scale(1.05);
}





  