
svg {
    width: 100%;
    height: auto;
}
.node {
    fill: #51ba88;
    stroke: #f04b4b;
    cursor: pointer;
    transition: fill 0.3s;
}
.node:hover, .node:focus {
    fill: #FF9800;
}
text {
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-anchor: middle;
}
body{
    background-color: #e6d2f6;
}